.SongSection {
  background-color: #f1f1f1;
  font-family: Inter;
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
  margin-right: 18px;
  border-radius: 6px;
  margin-top: 10px;
  padding: 10px 30px;
  margin-right: 10px;
}

.NamAr {
  display: flex;
  justify-content: space-between;
  width: 29vw;
}

.showAll {
  border: none;
  color: #310058;
  font-size: 18px;
  background-color: inherit;
}

@media screen and (max-width: 750px) {
  .NamAr {
    font-size: 12px;
  }
  .showAll {
    font-size: 14px;
  }
}
